@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "HudsonNYPro";
  src: url('../fonts/HudsonNYPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Designer";
  src: url('../fonts/Designer.otf') format('opentype');
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area {
  margin-top: 140px;
  height: 300px;
  background-color: #000;
  background: url("http://localhost:8000/storage/images/hero.jpeg") lightgray 50% / cover no-repeat;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.hero-content .hero-title {
  font-size: 24px;
}

.hero-content h1,
.hero-content span {
  color: #FFF;
}

.hero-footer {
  margin: 56px auto;
}

.hero-footer .box {
  background-color: #FFF;
  border-right: 10px solid #0E35AA;
  border-left: 10px solid #0E35AA;
  display: flex;
  /* padding: 24px 80px; */
  padding: 10px;
  flex-direction: column;
  gap: 24px;
}

.hero-footer .box h2 {
  color: #000;
  text-align: center;
}

.hero-footer .box ul li {
  color: #2B2B2B;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  padding: 5px;
}